<?xml version="1.0"?>
<config>

    <modules>
        <Digidennis_DkShipping>
            <version>0.1.0</version>
        </Digidennis_DkShipping>
    </modules>


    <default>
        <carriers>
            <dkshipping>
                <active>1</active>
                <model>digidennis_dkshipping/carrier_dkshipping</model>
                <title>Levering</title>
                <specificerrmsg>Postnord</specificerrmsg>
            </dkshipping>
        </carriers>
    </default>

    <adminhtml>
        <events>
            <sales_order_shipment_save_before>
                <observers>
                    <digidennis_dkshipping_sales_order_shipment_save_before>
                        <type>singleton</type>
                        <class>digidennis_dkshipping/observer</class>
                        <method>salesOrderShipmentSaveBefore</method>
                    </digidennis_dkshipping_sales_order_shipment_save_before>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <digidennis_dkshipping_sales_order_shipment_save_after>
                        <type>singleton</type>
                        <class>digidennis_dkshipping/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </digidennis_dkshipping_sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </adminhtml>

    <global>
        <resources>
            <dkshipping_setup>
                <setup>
                    <module>Digidennis_DkShipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dkshipping_setup>
        </resources>
        <models>
            <digidennis_dkshipping>
                <class>Digidennis_DkShipping_Model</class>
            </digidennis_dkshipping>
        </models>
        <blocks>
            <digidennis_dkshipping>
                <class>Digidennis_DkShipping_Block</class>
            </digidennis_dkshipping>
        </blocks>
        <helpers>
            <digidennis_dkshipping>
                <class>Digidennis_DkShipping_Helper</class>
            </digidennis_dkshipping>
        </helpers>
        <sales>
            <shipping>
                <carriers>
                    <digidennis_dkshipping>Digidennis_DkShipping_Model_Carrier_Dkshipping</digidennis_dkshipping>
                </carriers>
            </shipping>
        </sales>
    </global>

</config>